<%= form_for(@hookup) do |f| %>
  <% if @hookup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hookup.errors.count, "error") %> prohibited this hookup from being saved:</h2>

      <ul>
      <% @hookup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :partnera %><br />
    <%= f.text_field :partnera %>
  </div>
  <div class="field">
    <%= f.label :partnerb %><br />
    <%= f.text_field :partnerb %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
