<h1>Listing hookups</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Partnera</th>
    <th>Partnerb</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hookups.each do |hookup| %>
  <tr>
    <td><%= hookup.date %></td>
    <td><%= hookup.partnera %></td>
    <td><%= hookup.partnerb %></td>
    <td><%= link_to 'Show', hookup %></td>
    <td><%= link_to 'Edit', edit_hookup_path(hookup) %></td>
    <td><%= link_to 'Destroy', hookup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hookup', new_hookup_path %>
<%= link_to 'New Person', new_person_path %>