<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Building</th>
    <th>Gender</th>
    <th>School</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.age %></td>
    <td><%= person.building %></td>
    <td><%= person.gender %></td>
    <td><%= person.school %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>

<%= link_to 'Hookups', hookups_path %>
