<!DOCTYPE html>
<html>
	<head>
		<title>Penn Hookups</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
			<script language="javascript">
			$(document).ready(function() {
				$("#footer").pinFooter();
			});

			$(window).resize(function() {
				$("#footer").pinFooter();
			});
		</script>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Penn Hookups</a>
					<div class="nav-collapse">
						<%= tabs %>
						

					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<% if alert %>
			<div class="alert alert-error">
				<%= alert %>
			</div>
			<% end %>
			<% if notice %>
			<div class="notice notice-error">
				<%= notice %>
			</div>
			<% end %>

			<%= yield %>
		</div>

<footer>
				<div id="tag">
				***<br>
				© 2012, Shaanan Cohney
			</div>
	</footer>

		<footer>
			<div id="tag">
				***
				<br>
				© 2012, Shaanan Cohney
			</div>
		</footer>

	</body>
</html>
