<!DOCTYPE html>
<html>
	<head>
		<title>Penn Coffee Dates</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
			<script language="javascript">
			$(document).ready(function() {
				$("#footer").pinFooter();
			});

			$(window).resize(function() {
				$("#footer").pinFooter();
			});
		</script>
	<body>

<%= render :partial => 'layouts/navbar' %>
		<div class="container">
			<% if alert %>
			<div class="alert alert-error">
				<%= alert %>
			</div>
			<% end %>
			<% if notice %>
			<div class="notice notice-error">
				<%= notice %>
			</div>
			<% end %>

			<%= yield %>
		</div>
<div class="push"></div>
        </div>
<footer>
				<div id="tag">
				***<br>
				© 2012, Shaanan Cohney
			</div>
	</footer>

	</body>
</html>
