<!DOCTYPE html>
<html>
	<head>
		<title>Penn Hookups</title>
		<%= stylesheet_link_tag    "welcome", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<script language="javascript">
			$(document).ready(function() {
				$("#footer").pinFooter();
			});

			$(window).resize(function() {
				$("#footer").pinFooter();
			});
		</script>
	</head>
	<body>

		<%= render :partial => 'layouts/navbar' %>

		<%= yield %>
		
		<footer>
			<div id="tag">
				***
				<br>
				© 2012, Shaanan Cohney
			</div>
		</footer>

	</body>
</html>
