<!DOCTYPE html>
<html>
<head>
  <title>Penn Hookups</title>
  <%= stylesheet_link_tag    "welcome", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
 <div class="navbar-inner">
  <div class="container">
   <a class="brand" href="/">Penn Hookups</a>
   <div class="nav-collapse">
    <%= tabs %>
    						
   </div>
  </div>
 </div>
</div>

  <%= yield %>
  <div class="push"></div>
  <footer>
				<div id="tag">
				***<br>
				© 2012, Shaanan Cohney
			</div>
	</footer>

</body>
</html>
